.section2Container {
    padding: 5%;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas:
        'title middle right'
        'text middle right'
        'text middle right';
        gap: 30px;
}

.title {
    color: #DD6C73;
    font-weight:bolder;
    font-size:2vw;
}

.text { 
    grid-area: text;
    text-wrap: balance;
    font-size:1.5vw;
    color: #5654A3;
    font-weight: bold;
    text-align: center;
}

.middle {
    grid-area: middle;
    width: 20vw;
    position: relative;
}

.right {
    grid-area:right;
    width: 20vw;
    position: relative;
}


.certificateText {
    font-weight:bold;
    color: #5654A3;
    text-shadow: 2px 2px #C8E5E6;
    text-align: center;
    text-wrap: balance;
    font-size:1.5vw;
    position: absolute;
    top: 0;
}

.section2Container img {
    opacity: 1;
    transition: opacity 1.5s ease;
    backface-visibility: hidden; 
    width: 20vw;
    position: absolute;
    z-index: 1;
}

.section2Container img:hover {
    opacity: 0.2;
}

@media (max-width: 1000px) {
    .section2Container {
        grid-template-columns: 40% 30% 30%;
        grid-template-areas:
            'title middle right'
            'text . .';
        gap: 10px;
    }

    .middle, .right {
        margin-left: 10%;
    }
}