#Footer{
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
}
#copyright{
    font-size: small;
}
#socialLinks{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.image{
    width: 10%;
}
#linktree{
    width: 20%;
}
hr{
    width: 50%;
}