#Footer{
    background-color: black;
    color: white;
}
#copyright{
    font-size: small;
}
#socialLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image{
    width: 10%;
    padding-top: 5%;
}
hr{
    width: 50%;
}