body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  overflow-x:hidden;
}

h1, h2 {
  text-align: center;
  color: #314786;
}

button {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #DD6C73;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border-color: #DD6C73;
}


#page-body {
  width: 100vw;
  background-color: #F7F2F7;
  margin-top: -10%;
  padding-top: 10%;
}


input, textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

.error {
  padding: 8px;
  border-radius: 4px;
  background-color: pink;
}

