.homeContainer {
    height: 800px;
    padding-top: 10px;
    background-image: url("homePicture.png");
    background-size:cover;
    background-color: #8C9AB1;
    margin-top: -7%;
    padding-top: 7%;
    z-index:-1
}


.homeContainer h1 {
    text-align: left;
    margin-left: 5%;
    font-size:60px;
    width: 50%;
    text-wrap:balance;
    margin-top: 5%;

    -webkit-text-fill-color: #8C9AB1; 
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;    
}

.homeContainer span {
    -webkit-text-fill-color: transparent; 
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,#C8E5E6 10%,#7D84A1 29%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    animation: textclip 2s linear infinite;
}

.joinUsButton {
    width: 15%;
    margin-left: 5%;
}



@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


@media (max-width: 1000px) {
    .homeContainer h1 {
        font-size: 35px;
        width: 60%;
        margin-top: 10%;
        background-repeat: repeat-y;
    }
    
    .homeContainer {
        background-size: 120% 70%;
        background-repeat: no-repeat;

    }

    .joinUsButton {
        width: 30%;
        margin-left: 5%;
    }    

}
